Source: anytone-emu
Priority: optional
Maintainer: Hannes Matuschek <dm3mat@darc.de>
Build-Depends: debhelper (>= 11), cmake, xsltproc, docbook-xsl, qt6-base-dev, qt6-serialport-dev, libyaml-cpp-dev
Standards-Version: 4.6.2
Section: hamradio
Vcs-Browser: https://github.com/hmatuschek/anytone-emu
Vcs-Git: https://github.com/hmatuschek/anytone-emu.git
Homepage: https://dm3mat.darc.de/qdmr

Package: anytone-emu-gui
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: GUI to emulate AnyTone devices.

Package: anytone-emu
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Command-line tool to emulate AnyTone devices.

